@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #1e3a8a;
  /* Blue */
  --color-secondary: #10b981;
  /* Green */
  --color-background: #f3f4f6;
  /* Light Gray */
  --color-text: #111827;
  /* Dark Gray */
  --color-text-light: #ffffff;
  /* White */
  --color-accent: #f59e0b;
  /* Yellow */
}

body {
  font-family: "Ubuntu", sans-serif;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-background {
  background-color: var(--color-background);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-background {
  color: var(--color-background);
}

.text-text {
  color: var(--color-text);
}

.text-text-light {
  color: var(--color-text-light);
}

.bg-accent {
  background-color: var(--color-accent);
}

.text-accent {
  color: var(--color-accent);
}